#monsterPicWrapper {
    width: 100%
}

.monsterPicDiv {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: grey;
    margin-left: 50px;
}

.characterPicDiv {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightskyblue;
    margin-left: 50px;
}

#mathBox {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    margin: 0 auto;
}

@keyframes boxHeight {
    from {height: 120px;}
    to {height: 0px;}
}

@keyframes boxHeightTwo {
    from {height: 119px;}
    to {height: 1px;}
}

.timeOutBar {
    width: 50px;
    border: 1px transparent black;
    display: block;
    background-color: green;
}

.timeOutBar-B {
    width: 50px;
    height: 120px;
    border: 1px transparent black;
    display: block;
    background-color: green;
    transition: height 0s;
}

.timeOutBar_during {
    background-color:purple;
    height: 20px;
}

#timeOutBorder {
    border: 2px solid black;
    width: 50px;
    height: 120px;
    float: right;
    margin: 15px;
}

#questionText {
    float: left;
    margin-left: 20px;
}

#answerInput {
    float:left;
    margin-left: 20px;
}